

.heading {
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
}

.line {
  margin-top: 0px; /* Position the line 100px from the top of the box */
  left: 0; /* Align the line to the left edge of the box */
  width: 100%; /* Make the line span the full width of the box */
  border: none; /* Remove default hr border */
  border-top: 2px solid #000; /* Add a black top border for the line */
}